{% extends 'base.html.twig' %}

{% block body %}
    <h1>Identification</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ identification.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ identification.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('identification_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('identification_edit', { 'id': identification.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
